:root {
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5rem;

  display: flex;
  flex-direction: column;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

#controls {
  border: 2px solid var(--color-dark--1);
  border-radius: 10px;
  color: var(--color-dark--1);
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
}

#upload > label,
input {
  display: block;
  padding-bottom: 5px;
}

#reset-page {
  border-radius: 10px;
  padding: 20px 40px;
}

#error {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 4px solid red;
  border-radius: 20px;
  background-color: rgb(252, 214, 214);

  color: red;
  font-size: 2em;

  width: 60vw;
  height: 20vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);

  z-index: 400;
}

#errorMessage {
  color: red;
  padding: 20px;
}
